.menu {
    padding: 4px 40px;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif !important;
    }

input {
    padding: unset;
}

p {
    margin-bottom: unset !important;
}

.btn-primary--save {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

.btn-secondary--cancel {
    background-color: #e0d9d9;
    color: #333;
    padding: 18px 25px;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    font-size: 17px;
}