.menu {
    padding: 4px 40px;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif !important;
    }

input {
    padding: unset;
}

p {
    margin-bottom: unset !important;
}